[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pillow = "*"
discord = "*"
python-dotenv = "*"
opencv-python = "*"
keras = "==2.15"
tensorflow = "==2.15"
shell = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
